<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include("partials/_header")%>
  <% if(error === "notFound") { %>
  <div class="alert alert-danger" role="alert">
    Requested URL not found. Click <a href="/urls/new">here</a> to create a new URL.
  </div>
  <% } else if(error === "notLoggedIn") { %>
  <div class="alert alert-danger" role="alert">
    You are not logged in. To display your URLs, please <a href="/login">login</a>.
  </div>
  <% } else { %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h3 class="card-title">TinyURL for: <%= urlObj.longURL %></h4>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        <p class="card-text">Created: <%= urlObj.creationDate %></p>
        <span class="badge badge-success">Times Used: <%= urlObj.visits %></span>
        <span class="badge badge-success">Unique Visits: <%= urlObj.uniqueVisits %></span>
    </div>
    <div class="card-footer text-muted">
      <h4 class="card-title">Edit URL link:</h4>
      <div class="d-flex justify-content-center">
        <form class="form-inline" method="POST" action="/urls/<%= shortURL %>?_method=PUT">
          <h5 class="card-subtitle text-muted">New URL:</h3>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">URL field</label>
              <input class="form-control" id="inputPassword2" name="longURL" placeholder="<%= urlObj.longURL %>">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
        </form>
      </div>
    </div>
  </div>

  <% if(urlObj.visitors) { %>
  <div class="container mt-5 mb-4">
    <h2 class="text-center">URL Usage History</h2>
    <!-- <h3 class="text-center bg-success">Analytics</h3> -->
    <table class="table table-bordered table-striped m-0">
      <thead class="bg-success">
        <tr>
          <th scope="col">Visitor ID</th>
          <th scope="col">Time of Visit</th>
        </tr>
      </thead>
      <tbody>
        <% for (const visitor of urlObj.visitors) { %>
        <tr>
          <td><%= visitor.visitorId %></td>
          <td><%= visitor.time %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } %>

  <% } %>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>